*{
    font-family: 'Outfit', sans-serif;

}
body{
    background-color:#f3e6d8;

  }
  h1,h2,h3{
    font-family: 'Young Serif', serif;
  }
  h2{
    color:hsl(14, 45%, 36%);
    font-weight:400;
    
  }
  h4{
    font-family:'Outfit', sans-serif;
    color:hsl(332, 51%, 32%);
  }
  p{
   color: hsl(30, 10%, 34%);
  }
.main{
padding:50px;
    margin: 100px auto ;
    width:650px;
    background-color:#ffffff;
    border-radius:20px;
  }

img{
    border-radius:15px;
    margin:auto;
    width:100%;

}
.prep-container{
    
    border-radius:10px;
    margin-top:30px;
    padding:10px 30px;
    background-color:hsl(330, 100%, 98%);
}
.prep-container ul,.ingredients ul,ol{
    color: hsl(30, 10%, 34%);
    line-height: 4vh;
}
hr{
    border:1px solid hsl(30, 18%, 87%);
    margin-top:30px;
}
ol>li::marker{
font-weight:bold;
}
table{
    color: hsl(30, 10%, 34%);
    
    width:100%;
    text-align:left;
}
.line{
    line-height:5vh;
    padding-left:40px;
    border-bottom:1px solid hsl(30, 18%, 87%);
}
.bold{
    font-weight:700;
    color:hsl(14, 45%, 36%);
}
.last-row{
    line-height:5vh;
    padding-left:40px;

}
@media (max-width:480px){
    *{
        margin:0;
        padding:0;
    }
    body{
        background-color: white;
    }
    .main{
        margin:0;
        border-radius:0;
        padding:0px;
        background-color:white;
        width:100%;
    }
    img{
        margin:0px;
        border-radius:0;
        margin-bottom:20px;
    }
    header{
        padding:0 20px;
    }
    p{
        padding:20px;
    }
    .prep-container ul,.prep-container,.ingredients,.ingredients ul,.instructions,.instructions ol,hr,.nutrition,table{
        margin:20px;
        
    }
  
.line,.last-row{
    padding:20px;
}


}